body {
  background-color: #292929;
  color: #f1f1f1;
  font-family: monospace;
  padding: 20px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#navbar img {
  height: 40px;
  width: auto;
}

#navbar .links {
  display: flex;
}

#navbar .links a {
  color: #f1f1f1;
  text-decoration: none;
  margin-left: 10px;
}

#bottom-navbar {
  background-color: #292929;
  padding: 10px 0;
  text-align: left;
}

#bottom-navbar .links {
  font-family: monospace;
  padding-left: 20px;
  line-height: 1.5;
}

#bottom-navbar .links a {
  color: #f1f1f1;
  text-decoration: none;
  display: block;
}
