body {
  background-color: #292929;
  color: #f1f1f1;
  font-family: monospace;
  padding: 20px;
  transform: scale(1.25);
  transform-origin: 0 0;
  width: 80%;
  margin: 0 auto;
}

#navbar {
  margin-bottom: 10px;
}

#navbar img {
  height: 30px;
}
